img{
    width: 100%;
    height: 600px;
}
carousel-item:hover{
    cursor:none;
}
.card{
    height: 400px !important;
    margin-top: 10px;
    margin-left: 5px;
}
.carousel-control:hover{
    cursor: pointer;
}
.progress{
    margin: 5%;
}
.custom-tooltip {
    --bs-tooltip-bg: var(--bd-violet-bg);
    --bs-tooltip-color: var(--bs-white);
  }

/* @media only screen and (max-width: 600px) {
   .card {
     height: 500px !important;
    }
  } */
